

/* header area */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 100px 100px;
  
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  background: none;
  border: none;
}

.flogo {
    height: 100px;
    width: 300px;
}
.hbuttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-content: center;
    justify-content: center;
}
.buyb{
    width: 75px;
  height: 30px;
  background-color: #2476FF;
  border-radius: 5vh ;
  color: white;
    display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
  }

  .homeb{
       display: flex;
  justify-content: center;
  align-items: center;
  }
  .featuresb{
      display: flex;
  justify-content: center;
  align-items: center;
  }

  .learnb{
      display: flex;
  justify-content: center;
  align-items: center;
  }

  .pricesb{
      display: flex;
  justify-content: center;
  align-items: center;
  }

  .hireb{
      display: flex;
  justify-content: center;
  align-items: center;
  }

  .homeb:hover{
    color:#2476FF;
  }
   .featuresb:hover{
    color:#2476FF;
  }
   .learnb:hover{
    color:#2476FF;
  }
   .pricesb:hover{
    color:#2476FF;
  }
   .hireb:hover{
    color:#2476FF;
  }
  .buyb:hover{
   width: 75px;
  height: 30px;
  background-color: white;
  border-radius: 5vh ;
  color: #2476FF;
    display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #2476FF;
  }
  


  /*   Section 1 Empower  ***/
.homeem {
  background: transparent url(../assets/bg/background-top.svg);
  width: 100%;
  height: 50vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.home{
    display: flex;
    width: 100%;
    height: 406px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    gap: 50px;    
}

.emb1{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-evenly;
}

.empower{
    width: 100%;
    font-size: 40px;
    font-style: bold;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emlnk{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    gap: 50px;
}

.own{
    display: flex;
    justify-content: start;
    align-content: center;
}

.play{
    width: 100px;
    height: 30px;           
    background-color: #2196F3;
    border-radius: 5vh ; 
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    gap: 3px;
    
}

.learnmore{
    width: 100px;
    height: 30px;
    color: #2476FF;
    display: flex;
    flex-direction: row;
     justify-content: start;
    align-items:center;
    gap: 10px;
}

.play-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-left: 8px solid #2476FF;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.play-button {
  width: 15px;
  height: 15px;
  background-color: white; 
  border-radius: 50%;        
  position: relative;
  cursor: pointer;
}

.play:hover{
    width: 100px;
    height: 30px;           
    background-color: white;
    border-radius: 5vh; 
    color: #2196F3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    gap: 3px;
    border: 2px solid #2196f3; 
}

.learnmore{
    width: 100px;
    height: 30px;
    color: #2476FF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    gap: 10px;
}

.play-button::before:hover {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-left: 8px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.play-button:hover {
  width: 15px;
  height: 15px;
  background-color: #2476FF; 
  border-radius: 50%;        
  position: relative;
  cursor: pointer;
}

.emb2{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 50px;
    border: 2px solid red;

}


.google img{
    height: 40px;
    width: 40px;
}

.google{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.asana img{
    height: 48px;
    width: 48px;
    padding: 16px;
}
.asana{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
         align-items: center;
    justify-items: center;
}
.atlassina img{
    height: 48px;
    width: 48px;

}

.atlassina{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
         align-items: center;
    justify-items: center;
}
.ic1b1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    border: 2px solid orange;
}

.ic1b2{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.iconr1{
    display: flex;
    flex-direction: row; 
    gap: 100px;
    justify-content: center;
}

.paypal img{
    height: 48px;
    width: 48px;
}

.weave img{
    height: 48px;
    width: 48px;
}

.paypal{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
         align-items: center;
    justify-items: center;
}

.weave{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
         align-items: center;
    justify-items: center;
}

.iconr2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.google-ads img{
    height: 40px;
    width: 40px;
}

.calendar img{
    height: 48px;
    width: 48px;
}

.google-ads{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.calendar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.iconr3{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: end;
    gap: 150px;
}